<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SendingQueueName" value=".\private$\SendingQueue"/>
    <add key="ReceivingQueueName" value=".\private$\ReceivingQueue"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
