<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProviderDataAcess.Properties.Settings.Vics30ForTestConnectionString" connectionString="Data Source=10.10.1.29;Initial Catalog=Vics30ForTest;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
