<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="defaultLang" value="en" />
        <!-- start serilog configuration-->
        <add key="serilog:minimum-level" value="Verbose" />
        <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
        <add key="serilog:write-to:RollingFile.pathFormat" value="D:\Logs\APP\cslog-{Date}.txt" />
        <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="1" />
        <!--end serilog configuration-->
        <!--api service-->
        <add key="api:baseUri" value="http://localhost:8888" />
        <add key="api:version" value="v1" />
        <add key="api:bufferSize" value="856000" />
        <add key="api:timeoutInSecond" value="60" />
        <add key="api:contentType" value="application/x-protobuf" />
        <!-- Temp csv folder-->
        <add key="csvTempDirectory" value="D:/temp" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>