<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SBSCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SBSCore.Properties.Settings>
      <setting name="SBSCore_UpComGateway_Gateway" serializeAs="String">
        <value>http://10.10.1.29/UpComgateway/Gateway.asmx</value>
      </setting>
      <setting name="SBSCore_HnxGateway_Gateway" serializeAs="String">
        <value>http://10.10.1.29/hnx.net4.v1/Gateway.asmx</value>
      </setting>
      <setting name="SBSCore_HoseGateway_Gateway" serializeAs="String">
        <value>http://localhost/HoseWebService/Gateway.asmx</value>
      </setting>
      <setting name="SBSCore_SBSBankGateway_Service" serializeAs="String">
        <value>http://10.10.1.29/SBSBank30/Service.asmx</value>
      </setting>
      <setting name="SBSCore_PorscheGateway_SBSGateway" serializeAs="String">
        <value>http://10.10.1.29/SBSReport30/SBSGateWay.asmx</value>
      </setting>
      <setting name="SBSCore_CoreCommonService_CommonService" serializeAs="String">
        <value>http://10.10.1.29/common.net4.v1/CommonService.asmx</value>
      </setting>
    </SBSCore.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
