<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HOGW_CoreConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HOGW_OrderSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="ConnStrHOGW" />
  <connectionStrings>
    <add name="ConnStrHOGW" connectionString="server=10.10.5.230;User Id=sa;Password=vics;database=Hosegatewaytest; Application Name=phapHSXGWSBS" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PriceMultipleOperand" value="1" />
    <add key="PriceMultipleOperandPT" value="1000000" />
    <add key="PriceDividendOperand" value="100" />
    <add key="BasicOrderNumber" value="76000000" />
    <add key="AdminMobiles" value="84912591416;84912327166;84912848673" />
    <add key="ContactAddress" value="VICS-04.5373838" />
    <add key="FirmID" value="76" />
    <add key="Board" value="M" />
    <add key="BoardPT" value="B" />
    <add key="BoardOdd" value="O" />
    <add key="MatchingOrderInterval" value="3000" />
    <add key="AppName" value="Rabbit-Adapter-SBS" />
    <add key="MaxNumThread" value="3" />
    <add key="ValidateOrderType" value="1" />
    <add key="ValidateBoardLot" value="1" />
    <add key="ValidateForeignRoom" value="1" />
    <add key="ValidateVolume" value="1" />
    <add key="ValidateVolumeByStockType" value="1" />
    <add key="ValidateLimitPrice" value="1" />
    <add key="ValidateOrderSession" value="0" />
    <add key="SBSGatewayUsername" value="pm" />
    <add key="SBSGatewayPassword" value="pm" />
    <add key="CoreOnlineTradeCode" value="VICS" />
    <add key="CoreOnlineBranchCode" value="100" />
    <add key="CoreOnlineUser" value="pt" />
    <add key="IsTest" value="1" />
    <add key="IsCheckTime" value="0" />
  </appSettings>
  <applicationSettings>
    <HOGW_CoreConnector.Properties.Settings>
      <!--Main  -->
      <setting name="Rabbit_Adapter_SBS_SBSGateway_CommonService" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/sbsgateway30/CommonService.asmx</value>
      </setting>
      <setting name="HOGW_CoreConnector_PTConnectorWS_PTConnectorWS" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/HosePTConnector/PTConnectorWS.asmx</value>
      </setting>
      <setting name="HOGW_CoreConnector_CoreConnectorWS_CoreConnectorWS" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/CoreConnector/CoreConnectorWS.asmx</value>
      </setting>
    </HOGW_CoreConnector.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
