<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss:fff} - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="GatewayDB" connectionString="Data Source=10.10.5.230;Initial Catalog=Hosegatewaytest;Persist Security Info=True;User ID=sa;Password=vics;Application Name=hsxgwqbroker" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SendMsgEverySeconds" value="3"/>
    <add key="SynchronizeInternalQueueAndDBEverySeconds" value="3"/>
    <add key="OutboxQueue" value=".\private$\OutboxQueue"/>
    <add key="InboxQueue" value=".\private$\InboxQueue"/>
    <add key="InternalQueue" value=".\private$\InternalQueue"/>
    <add key="BadQueue" value=".\private$\BadQueue"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

