 <div class="action-optont-search">
    <a class="SectionMode Expand" href="#" style="cursor: pointer; z-index: 99999; margin-bottom: 10px;">[Mode]</a>
    <h2>Option Search</h2>
     <h2 class="Header-clearSearch"><a href="javascript:void(0)" id="btn-search-clear" style="z-index: 999" onclick="return  resetFrom(this);">[Clear Search]</a></h2> 
     @Html.Hidden("ClearSearch","no")
 </div>