<div style="padding-left: 50px; margin-top: 3px;">
    <ul class="list-status-shipment">
        <li><strong>Blank :</strong> Pending. </li>
        <li> <strong style="color: Red">S</strong> : Submited.</li>
        <li><strong style="color: Blue">A</strong> : Approved. </li>
        <li><strong>L</strong> : Locked </li>
        <li><strong style="color: cyan; ">C</strong> : Checked. </li>
        <li><div class="SaleNotif"></div>: Sale Revied Revenue </li>
        <li> <div class="AccoutantNotif"></div>: Accoutant Request Revenue</li>
        <li><div class="bgorangeNotif"></div>: Shipment chua Bill</li>
        @*<li><div class="GridYellowLightNotif"></div>: Shipment Has Revenue</li>*@ 
    </ul>
</div>
