@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Xin lỗi, Bạn không có quyền truy cập trang này
</h2>
<a href="@Url.Action("Index", "Shipment", new {id = 0})" class="btn btn-primary " id="btnReturnHome">Go Home</a>

