<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ctciPath" value="D:\Vics\CTCIDATA\"/>
    <add key="prsPath" value="D:\Vics\HOSTC_IS\"/>
    <add key="firm" value="076"/>
    <add key="interval" value="10"/><!--giay-->
    <add key="intervalPrice" value="120"/> <!--giay-->
    <add key="timeUp" value="22:15"/>
    
    <!--This is only for testing, on production it must be comment out-->
    <add key="ctciFilePrefix" value="20161124"/>
  </appSettings>
  <connectionStrings> 
    <add name="SBSConnectionString" connectionString="server=test.vics.vn;User Id=sa;Password=vics;database=SBSTEST" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup> 
</configuration>
