<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="smsConfiguration" type="SMS.Common.Configuration.SmsConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="EsmsApi" type="SMS.Common.Configuration.ApiEmsConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="smtp" type="SMS.Common.Configuration.SmtpConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="actionConfigFile" type="SMS.Common.Configuration.ActionConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- <add name="SMSContext" connectionString="data source=10.10.5.230;initial catalog=ESMS;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SmsNewTest" providerName="System.Data.SqlClient" />
    <add name="SBSContext" connectionString="data source=10.10.5.230;initial catalog=SBSTEST;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SbsNewTest" providerName="System.Data.SqlClient" />-->
    <add name="SMSContext" connectionString="data source=10.10.5.113;initial catalog=ESMSV2;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SmsNew" providerName="System.Data.SqlClient" />
    <add name="SBSContext" connectionString="data source=sbs.vics.com.vn;Failover Partner=sbs2.vics.com.vn;initial catalog=VICS30;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SbsNewsms" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <smsConfiguration configSource="bin\settings\common.config" />
  <smtp configSource="bin\settings\smtp.config" />
  <EsmsApi configSource="bin\settings\ESms.config" />
  <appSettings>
    <add key="actionConfigFile" value="bin/settings/action.config" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<staticContent> 
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>