<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VRMApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <userSettings>
    <VRMApp.Properties.Settings>
      <setting name="DefaultRowBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DefaultSelectedRowBackColor" serializeAs="String">
        <value>ControlLight</value>
      </setting>
      <setting name="AlternateRowBackColor" serializeAs="String">
        <value>MintCream</value>
      </setting>
      <setting name="AlternateSelectedRowBackColor" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="VRMApp_VRMGateway_RoundFee" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VRMApp_VRMGateway_CUSTODYFEE" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="VRMApp_VRMGateway_VRMService" serializeAs="String">
        <value>http://gw.vics.com.vn/vicscafe/VRMService.asmx</value>
      </setting>
    </VRMApp.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="AccountHeader" value="076C"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
