::ng-deep {
    nb-layout-column {
        height: 80vw;
        width: 80vw;
    }
    button+button {
        margin-left: 1rem;
    }
    .dialog-card {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    @media (min-width: 40rem) {
        .dialog-card {
            width: 38rem;
        }
    }
    /* max-width * aspect-ratio */
    .full-width-dialog-meber {
        width: 100vw;
        max-width: calc(70vw * (9/16));
        // height: calc(100vw * (9/16));
        max-height: calc(70rem * (9/16));
        //max-height: 90vh;
    }
}