<div class="container py-4 my-5" id="pricing">
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="font-weight-bold line-height-2 text-7 mb-1">Pricing</h2>
            <span class="d-block text-color-dark text-5 pb-2 mb-4 opacity-7">Plans Table</span>
        </div>
    </div>

    <div class="pricing-table mb-4">
        <div class="col-md-6 col-lg-3">
            <div class="plan appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="650">
                <div class="plan-header bg-primary rounded-top">
                    <h3>Enterprise</h3>
                </div>
                <div class="plan-price">
                    <span class="price"><span class="price-unit">$</span>59</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>10GB Disk Space</li>
                        <li>100GB Monthly Bandwith</li>
                        <li>20 Email Accounts</li>
                        <li>Unlimited Subdomains</li>
                    </ul>
                </div>
                <div class="plan-footer rounded-bottom">
                    <a href="#demo-form"
                        class="popup-with-form btn btn-primary btn-outline btn-rounded font-weight-semibold text-3 btn-px-4 btn-py-2">Sign
                        Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="plan appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="850">
                <div class="plan-header bg-primary rounded-top">
                    <h3>Professional</h3>
                </div>
                <div class="plan-price">
                    <span class="price"><span class="price-unit">$</span>29</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>5GB Disk Space</li>
                        <li>50GB Monthly Bandwith</li>
                        <li>10 Email Accounts</li>
                        <li>Unlimited Subdomains</li>
                    </ul>
                </div>
                <div class="plan-footer rounded-bottom">
                    <a href="#demo-form"
                        class="popup-with-form btn btn-primary btn-outline btn-rounded font-weight-semibold text-3 btn-px-4 btn-py-2">Sign
                        Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInLeftShorter"
            data-appear-animation-delay="1050">
            <div class="plan plan-featured custom-plan-featured-style-1">
                <div class="plan-header bg-primary rounded-top">
                    <h3>Standard</h3>
                </div>
                <div class="plan-price bg-primary border-0">
                    <span class="price text-color-light"><span class="price-unit">$</span>17</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>3GB Disk Space</li>
                        <li>25GB Monthly Bandwith</li>
                        <li>5 Email Accounts</li>
                        <li>Unlimited Subdomains</li>
                    </ul>
                </div>
                <div class="plan-footer rounded-bottom">
                    <a href="#demo-form"
                        class="popup-with-form btn btn-primary btn-rounded font-weight-semibold text-2 btn-px-4 btn-py-2">Sign
                        Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="plan appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="1250">
                <div class="plan-header bg-primary rounded-top">
                    <h3>Basic</h3>
                </div>
                <div class="plan-price">
                    <span class="price"><span class="price-unit">$</span>9</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>1GB Disk Space</li>
                        <li>10GB Monthly Bandwith</li>
                        <li>2 Email Accounts</li>
                        <li>Unlimited Subdomains</li>
                    </ul>
                </div>
                <div class="plan-footer rounded-bottom">
                    <a href="#demo-form"
                        class="popup-with-form btn btn-primary btn-outline btn-rounded font-weight-semibold text-3 btn-px-4 btn-py-2">Sign
                        Up</a>
                </div>
            </div>
        </div>
    </div>

</div>