<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SBSConnection" connectionString="connect timeout=3;server=(local);uid=sa;pwd=vics;database=SBS30forTesting;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReceivedBy" value="gdtthcm,gdtt"/>
  </appSettings>
</configuration>