<div *ngIf="isLoading | async" class="vip-overlay d-flexd">
    <div class="sk-chase m-auto">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
    <!-- <div class="d-flexd spinner-message m-auto">
        <div class="m-auto">
            <span>{{'Common.loading' |translate}}</span>
        </div>
    </div> -->
</div>