* {
    outline: none;
}

body {
    font-size: 12px !important;
    font-family: Arial; 
    margin: 0px;
    padding: 0px;
    color: #6e6d65;
    visibility: hidden;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    
    line-height: 1.42857;
}

hr {
    display: none;
}

form,
fieldset,
legend,
a img {
    border: none;
    padding: 0px;
    margin: 0px;
}

a:link,
a:visited {
    outline: none;
    text-decoration: none;
}

.Virtual {
    display: none;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #3366cc;
    text-decoration: none;
}

.BoxL1 {
    background-image: url(../Images/Menu/box-1.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.BoxL2 {
    background-image: url(../Images/Menu/box-2.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.BoxL3 {
    background-image: url(../Images/Menu/box-3.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.BoxL4 {
    background-image: url(../Images/Menu/box-4.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.GrayBg.BoxL1 {
    background-image: url(../Images/Menu/box-gray-1.png);
}

.GrayBg .BoxL2 {
    background-image: url(../Images/Menu/box-gray-2.png);
}

.GrayBg .BoxL3 {
    background-image: url(../Images/Menu/box-gray-3.png);
}

.GrayBg .BoxL4 {
    background-image: url(../Images/Menu/box-gray-4.png);
}

div.BorderBox {
    background: #ffffff url("../Images/Menu/bg-box-border.png") no-repeat left top;
}

    div.BorderBox .BorderBoxL2 {
        background: url("../Images/Menu/bg-box-border-2.png") no-repeat right bottom;
    }

    div.BorderBox .BorderBoxL3 {
        background: url("../Images/Menu/box-white-gray-2.png") no-repeat left bottom;
    }

    div.BorderBox .BorderBoxL4 {
        background: url("../Images/Menu/box-white-gray-4.png") no-repeat right top;
        padding: 1px;
    }

div.BorderBox2 {
    background: url("../Images/Menu/bg-box-border.png") no-repeat left top;
}

    div.BorderBox2 .BorderBoxL2 {
        background: url("../Images/Menu/bg-box-border-2.png") no-repeat right bottom;
    }

    div.BorderBox2 .BorderBoxL3 {
        background: url("../Images/Menu/box-gray-gray-2.png") no-repeat left bottom;
    }

    div.BorderBox2 .BorderBoxL4 {
        background: url("../Images/Menu/box-gray-gray-4.png") no-repeat right top;
        padding: 1px;
    }


.ButtonType1 {
    height: 30px;
    float: left;
    margin: 20px 12px 20px 0px;
    background: url(../Images/Menu/bg-green-btn.png) no-repeat left top;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .ButtonType1 .ButtonTypeL2 {
        height: 30px;
        margin-left: 9px;
        display: inline;
        float: left;
        background: url(../Images/Menu/bg-green-btn-l2.png) no-repeat right top;
    }

    .ButtonType1:hover {
        background: url(../Images/Menu/bg-green-btn.png) no-repeat left -30px;
    }

        .ButtonType1:hover .ButtonTypeL2 {
            background: url(../Images/Menu/bg-green-btn-l2.png) no-repeat right -30px;
        }

.ButtonType1Small {
    height: 20px;
    float: left;
    margin: 12px 6px 12px 0px;
    background: url(../Images/Menu/bg-green-btn2.png) no-repeat left top;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .ButtonType1Small .ButtonTypeL2 {
        height: 20px;
        float: left;
        margin-left: 5px;
        display: inline;
        background: url(../Images/Menu/bg-green-btn2-l2.png) no-repeat right top;
    }

    .ButtonType1Small:hover {
        background: url(../Images/Menu/bg-green-btn2.png) no-repeat left -20px;
    }

        .ButtonType1Small:hover .ButtonTypeL2 {
            background: url(../Images/Menu/bg-green-btn2-l2.png) no-repeat right -20px;
        }

    .ButtonType1Small .ButtonTypeL2 span {
        font-size: 1.2em;
        padding: 2px 10px 2px 5px;
    }

.ButtonType2 {
    height: 30px;
    float: left;
    margin: 20px 12px 20px 0px;
    background: url(../Images/Menu/bg-red-btn.png) no-repeat left top;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .ButtonType2 .ButtonTypeL2 {
        height: 30px;
        float: left;
        margin-left: 9px;
        display: inline;
        background: url(../Images/Menu/bg-red-btn-l2.png) no-repeat right top;
    }

    .ButtonType2:hover {
        background: url(../Images/Menu/bg-red-btn.png) no-repeat left -30px;
    }

        .ButtonType2:hover .ButtonTypeL2 {
            background: url(../Images/Menu/bg-red-btn-l2.png) no-repeat right -30px;
        }

.ButtonType3 {
    height: 30px;
    float: left;
    margin: 20px 12px 20px 0px;
    background: url(../Images/Menu/bg-gray-btn.png) no-repeat left top;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .ButtonType3 .ButtonTypeL2 {
        height: 30px;
        float: left;
        margin-left: 9px;
        display: inline;
        background: url(../Images/Menu/bg-gray-btn-l2.png) no-repeat right top;
    }

    .ButtonType3:hover {
        background: url(../Images/Menu/bg-gray-btn.png) no-repeat left -30px;
    }

        .ButtonType3:hover .ButtonTypeL2 {
            background: url(../Images/Menu/bg-gray-btn-l2.png) no-repeat right -30px;
        }

    .ButtonType3 .ButtonTypeL2 span {
        color: #6e6d65;
    }

.ButtonType3Small {
    height: 20px;
    float: left;
    margin: 12px 6px 12px 0px;
    background: url(../Images/Menu/bg-gray-btn2.png) no-repeat left top;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .ButtonType3Small .ButtonTypeL2 {
        height: 20px;
        float: left;
        margin-left: 5px;
        display: inline;
        background: url(../Images/Menu/bg-gray-btn2-l2.png) no-repeat right top;
    }

    .ButtonType3Small:hover {
        background: url(../Images/Menu/bg-gray-btn2.png) no-repeat left -20px;
    }

        .ButtonType3Small:hover .ButtonTypeL2 {
            background: url(../Images/Menu/bg-gray-btn2-l2.png) no-repeat right -20px;
        }

    .ButtonType3Small .ButtonTypeL2 span {
        color: #6e6d65;
        font-size: 1.2em;
        padding: 2px 10px 2px 5px;
    }

.ButtonTypeL2 button,
.ButtonTypeL2 input {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 100em;
    z-index: 10000;
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.ButtonTypeL2 span {
    float: left;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bolder;
    padding: 6px 15px 6px 6px;
}

    .ButtonTypeL2 span.Background {
        padding: 6px 15px 6px 21px;
        background-position: 1px 50%;
        background-repeat: no-repeat;
    }

.PageButton {
    margin: 0px auto;
    overflow: hidden;
}
