<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>

  <appSettings>
    <add key="ctciPath" value="D:\Vics\HOSTC_IS\CTCIDATA\" />
    <add key="prsPath" value="D:\Vics\HOSTC_IS\" />
    <add key="firm" value="076" />
    <add key="interval" value="10" />
    <!--giay-->
    <add key="intervalPrice" value="3" />
    <!--giay-->
    <add key="timeUp" value="22:15" />

    <!--This is only for testing, on production it must be comment out-->
    <add key="ctciFilePrefix" value="20161124" /> 
    <add key="T1" value="09:15" /><!--T2 Khop lenh lien tuc phien sang--> 
    <add key="T2" value="11:30" /> <!--T3 Nghi giua phien-->
    <add key="T3" value="13:00" /> <!--T4 Khop lenh lien tuc phien chieu-->
    <add key="T4" value="14:30" /> <!--T5 xac dinh gia dong cua-->
    <add key="T5" value="14:45" /> <!--T6 Run-Off-->
    <add key="T6" value="15:00" /> <!--Dong cua thi truong-->
  </appSettings>

  <connectionStrings>
    <add name="WebStock" connectionString="data source=test.vics.vn; Initial Catalog=QuoteServerTest;UID=sa;PWD=vics;Application Name=phaptestStockTrader" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <dataConfiguration defaultDatabase="WebStock" />
</configuration>
