<h1 id="title" class="title">{{'forgot.header'| translate}}</h1>
<p class="sub-title">{{'forgot.sub-title'| translate}}</p>

<form [formGroup]="frm" role="form" class="needs-validation col" (ngSubmit)="requestPass(frm)" novalidate>

    <div class="form-control-group">
        <label class="label required" for="email">{{'forgot.email.label'| translate}}:</label>
        <input nbInput placeholder="{{'forgot.email.placeholder'| translate}}" autofocus fullWidth fieldSize="large" [status]="f.email.dirty ? (f.email.invalid  ? 'danger' : 'success') : 'basic'" [attr.aria-invalid]="f.email.invalid && f.email.touched ? true : null"
            class="form-control" formControlName="email">
        <ng-container *ngIf="f.email.invalid && f.email.touched">
            <p class="caption text-danger" *ngIf="f.email.errors?.required">
                {{'forgot.email.required'| translate}}
            </p>
        </ng-container>
    </div>

    <button nbButton fullWidth status="primary" size="large" [disabled]="!frm.valid" [class.btn-pulse]="submitted">
        {{'forgot.button'| translate}}
    </button>
</form>

<section class="sign-in-or-up px-3" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="{{route(urlRoute.SIGNIN)}}" tabindex="-1">  {{'page.login'| translate}}</a></p>
    <p><a routerLink="{{route(urlRoute.SIGNUP)}}" class="text-link" tabindex="-1"> {{'page.register'| translate}}</a></p>
</section>