<?xml version="1.0"?>
<ActionConfiguration>
  <EventListeners>
    <!--Action listeners-->

    <!--EMAILS-->
    <Listener event="OnUserRegistered" action="SendWelcomeEmailToUser" />  
    
   </EventListeners>

  <Actions>

    <!-- Send a welcome email to registered user.-->
    <Action name="SendWelcomeEmailToUser" actionClass="SMS.Common.Action.SendMailAction" actionInitData="welcome" />

   

  </Actions>
</ActionConfiguration>
