<?xml version="1.0" encoding="utf-8" ?>
<smsConfiguration>
  <!--Setting time run app-->
  <TimeExecute StartDealTime="09:00" EndDealTime="15:30" EndCloseTime="16:40"  TransactionDate="2015-09-04"/>
  <TimeWaitting Matched="30"  SendSms="45"  Debit="120" />
  <BaseSeting BankList="112;118" MinimumAmount="1000000" BuyOrSelFormat="Mua/Ban" DebitOrCreditFormat="+/-"/>
  <template name="OnFirstDay">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> so du tien <%=balance{0:0,0}%>VND; ck <%BeginLoop(Securities)%><%=StockCode%>:<%=Volume{0:0,0}%>;<%EndLoop%>]]> </Body>
  </template>
  <template name="OnMatched">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> khop <%=OrderSide%> <%=OrderVolume{0:0,0}%> <%=StockCode%>(KL/G)<%BeginLoop(Matcheds)%><%=Volume{0:0,0}%>/<%=Price{0:0,0.0}%>;<%EndLoop%>]]></Body>
  </template>
  <template name="OnDebited">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> <%=Debit%> <%=DebitValue{0:0,0}%>VND luc <%=Time%>. So du: <%=CurrentValue{0:0,0}%>VND]]></Body>
  </template>
  <!--SMSTYPE 3: đầu số ngẫu nhiên tốc độ chậm, SMSTYPE=7: đầu số ngẫu nhiên tốc độ cao, SMSTYPE=4: Đầu số 19001534; SMSTYpe=6: đàu số 8755-->
  <!--<ISFLASH>0</ISFLASH>-->
  <template name="OnPostSendBrandName">
    <Body>
      <![CDATA[
      <RQST>
      <APIKEY><%=Apikey%></APIKEY>
      <SECRETKEY><%=Secretkey%></SECRETKEY>
      <SMSTYPE>6</SMSTYPE>  
      <BRANDNAME><%=Brandname%></BRANDNAME>
      <REQUESTID><%=Requestid%></REQUESTID>
      <SANDBOX><%=SanbBox%></SANDBOX>
      <CONTENT><%=MessageContent%></CONTENT>
      <CONTACTS>
      <%BeginLoop(Contacts)%>
        <CUSTOMER>
            <PHONE><%=Phone%></PHONE>
          </CUSTOMER>
        <%EndLoop%> 
      </CONTACTS>
    </RQST>
      ]]>
    </Body>
  </template>
  <template name="OnPostSendNormal">
    <Body>
      <![CDATA[
      <RQST>
       <APIKEY><%=Apikey%></APIKEY>
      <SECRETKEY><%=Secretkey%></SECRETKEY>
      <SMSTYPE>6</SMSTYPE>   
      <REQUESTID><%=Requestid%></REQUESTID>
      <SANDBOX><%=SanbBox%></SANDBOX>
      <CONTENT><%=MessageContent%></CONTENT>
      <CONTACTS>
      <%BeginLoop(Contacts)%>
        <CUSTOMER>
            <PHONE><%=Phone%></PHONE>
          </CUSTOMER>
        <%EndLoop%> 
      </CONTACTS>
    </RQST>
      ]]>
    </Body>
  </template>
  <template name="OnGetStatus">
    <Body>
      <![CDATA[
      <RQST>
      <APIKEY><%=APIKey%></APIKEY>
      <SECRETKEY><%=SecretKey%></SECRETKEY> 
      <SMSID><%=SmsId%></SMSID> 
      </RQST>
      ]]>
    </Body>
  </template>
</smsConfiguration>