<?xml version="1.0" encoding="utf-8" ?>
<esmsConfiguration>
  <!--SandBox:1 Debug :gui phai cho duyet, 0 gui khong can duyet-->
  <!--ResponseTimeOut la 30s-->
  <StandSetting  SandBox="1" ResponseTimeOut="30" />
  <AccessESms APIKey="6BEF326D1B01BFF1098A6AAA3433DD" SecretKey="F98F645B2A9A555C5D6C5577A40747"/>
  <!--BrandNameWork: Telecome:"All" || "Viettel;Mobiphone;Vinaphone" ||"None"-->
  <BrandNameWork name="VICS" Telecome ="Viettel"/>
  <AccessUrl
    UrlSendSms="http://api.esms.vn/MainService.svc/xml/SendMultipleMessage_V2/"
    UrlSmsBrandName="http://api.esms.vn/MainService.svc/xml/SendMultipleMessage_V4/"
    UrlGetStatus="http://api.esms.vn/MainService.svc/xml/GetSmsStatus/"/>
</esmsConfiguration>