<?xml version="1.0" encoding="utf-8"?>
<smtp account="mbq.smtp@gmail.com" password="mbq4testing" host="smtp.gmail.com" port="587" enableSsl="true" deliveryMethod="Network" timeOut="5000" >
  <template name="welcome" from="noreply@mbq.vn" fromName="MBQ - noreply" isHtml="false">
    <subject>[MBQ.VN] Ban da thanh cong dang ky tai khoan</subject>
    <body>
      <![CDATA[
      Xin chào  <%=NAME%>

      Cảm ơn bạn đã đăng ký thành viên  website mua bán quyền http://mbq.vn.

      Thông tin tài khoản là:
      Tên đăng nhập:<%=UserName%>
      Email:<%=Email%>
      Mật khẩu:<%=Password%>
      Số điện thoại:<%=Telephone%>

      Thân mến,
      Ban quản trị MBQ
        ]]>
    </body>
  </template>
  

  <template name="confirmEmail2" from="noreply@mbq.vn" fromName="MBQ - noreply" isHtml="false">
    <subject>This is the test email subject</subject>
    <body>Subject</body>
  </template>
</smtp>
 
