<?xml version="1.0" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Brokery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>

    <add key="UpcomBoardList" value="UPCOM"/>
    <add key="HNXBoardList" value="LIST"/>
    <add key="BLBoardList" value="BL"/>

    <add key="LIST_PREFIX" value="LIS_"/>
    <add key="UPCOM_PREFIX" value="UPC_"/>
    <add key="EDITLOCK_SUBFIX" value="_LOC"/>
    <add key="OPEN_SECTION" value="_AUC_O_"/>
    <add key="CLOSE_SECTION" value="_AUC_C_"/>
    <add key="CONTINUE_SECTION" value="_CON_"/>
    <add key="PRECLOSE_SECTION" value="_PTH_P_"/>

    <add key="AccountHeader" value="076C"/>
    <add key="Company_PrefixF" value="076C"/>
    <add key="BankGlBalanceDomesticCustomer" value="324111"/>
    <add key="BankGlBalanceForeignCustomer" value="324111"/>
    <add key="BankGlContigenDomesticCustomer" value="012121"/>
    <add key="BankGlContigenForeignCustomer" value="012121"/>
    <add key="SectionGlBalanceDomesticCustomer" value="3241"/>
    <add key="SectionGlBalanceForeignCustomer" value="3241"/>
    <add key="SectionGlContigenDomesticCustomer" value="0121"/>
    <add key="SectionGlContigenForeignCustomer" value="0121"/>
    <add key="GroupIdAdmin" value="27,1"/>

    <!--Tên của hội sở và các chi nhánh-->
    <add key="VICSHCM_Name" value="CÔNG TY CP CHỨNG KHOÁN THƯƠNG MẠI VÀ CÔNG NGHIỆP VIỆT NAM"/>
    <add key="VICS_Name" value="CÔNG TY CỔ PHẦN CHỨNG KHOÁN THƯƠNG MẠI VÀ CÔNG NGHIỆP VIỆT NAM - CN Hà Nội"/>
    <add key="VICSHUE_Name" value="CÔNG TY CP CHỨNG KHOÁN THƯƠNG MẠI VÀ CÔNG NGHIỆP VIỆT NAM - CN Tp. HUẾ"/>

    <!--Địa chỉ của hội sử và các chi nhánh-->
    <add key="VICS_Address" value="Tầng 4, Hà Thành Plaza, 102 Thái Thịnh, Đống Đa, Hà Nội - Tel:(84.4) 3514.8766 Fax:(84.4) 3514.8768"/>
    <add key="VICSHCM_Address" value="2 Bis Nguyễn Thị Minh Khai, P.Đa Kao, Q.1, Tp.Hồ Chí Minh - Tel:(84.8)3911.0788 Fax:(84.8)3911.0789"/>
    <add key="VICSHUE_Address" value="Tầng 3, Số 6 Trần Hưng Đạo, Tp. Huế - Tel:(84.5) 457.1645 Fax:(84.5) 457.1646"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Brokery.Properties.Settings>
      <setting name="DefaultRowBackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSelectedRowBackColor" serializeAs="String">
        <value>ControlLight</value>
      </setting>
      <setting name="AlternateRowBackColor" serializeAs="String">
        <value>MintCream</value>
      </setting>
      <setting name="AlternateSelectedRowBackColor" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="AgencyLocation" serializeAs="String">
        <value>Tp. Hà Nội</value>
      </setting>
      <setting name="Report_Footer1" serializeAs="String">
        <value>Người lập biểu</value>
      </setting>
      <setting name="Report_Footer2" serializeAs="String">
        <value>Kế toán trưởng</value>
      </setting>
      <setting name="Report_Footer3" serializeAs="String">
        <value>Giám đốc</value>
      </setting>
      <setting name="AgencyName" serializeAs="String">
        <value>Chi nhánh: Tầng 4, Hà Thành Plaza, 102 Thái Thịnh, Đống Đa, Hà Nội Tel:(84-4) 35148766 - Fax:(84-4) 35148768</value>
      </setting>
      <setting name="AgencyAddressAndTelephone" serializeAs="String">
        <value />
      </setting>
      <setting name="AgencyApp_AgencyWebService_GateWay" serializeAs="String">
        <value>http://gw.vics.com.vn/sbscore.net40/Brokery.asmx</value>
      </setting>
    </Brokery.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\Logs\Brockery.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss:fff} - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
