<div class="section section-height-3 border-0 m-0 appear-animation" data-appear-animation="fadeIn" id="customer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="font-weight-bold line-height-2 text-7 mb-1">Reviews</h2>
                <span class="d-block text-color-dark text-5 pb-2 mb-4 opacity-7">Testimonials</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11 appear-animation" data-appear-animation="fadeInUpShorter"
                data-appear-animation-delay="600">
                <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-0"
                    data-plugin-options="{'items': 1, 'loop': false}">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                            <div class="testimonial-author mb-0">
                                <img src="assets/img/clients/client-1.jpg"
                                    class="img-fluid rounded-circle custom-mw-1 mb-1" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark opacity-7 mb-0">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor.
                                    Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce
                                    ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                            </blockquote>
                            <div class="testimonial-author mb-3">
                                <p><strong class="font-weight-bold">John Smith</strong><span
                                        class="font-weight-normal">CEO & Founder - Okler</span></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                            <div class="testimonial-author mb-0">
                                <img src="assets/img/clients/client-2.jpg"
                                    class="img-fluid rounded-circle custom-mw-1 mb-1" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark opacity-7 mb-0">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor.
                                    Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-bold">Jessica Smith</strong><span
                                        class="font-weight-normal">Marketing - Okler</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section border-0 m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme carousel-center-active-item mb-0"
                    data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'autoplay': true, 'autoplayTimeout': 3000, 'stagePadding': 0, 'dots': false, 'nav': false}">
                    <div class="px-3">
                        <img class="img-fluid" src="assets/img/logos/vicslogo.png" alt="">
                    </div>
                    <div class="px-3">
                        <img class="img-fluid" src="assets/img/logos/tig-logo.jpg" alt="">
                    </div>
                    <div class="px-3">
                        <img class="img-fluid" src="assets/img/logos/xvalue-logo.jpg" alt="">
                    </div>
                    <div class="px-3">
                        <img class="img-fluid" src="assets/img/logos/donga-logo.jpg" alt="">
                    </div>
                    <!-- <div class="px-3">
                        <img class="img-fluid" src="assets/img/logos/findex-logo.jpg" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>