<footer id="footer" class="mt-0">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-lg-2 align-self-center mb-5 mb-lg-0">
                <a [routerLink]="['/']">
                    <img src="assets/img/logo-default-slim.png" class="img-fluid" alt="Demo SEO" width="100" />
                </a>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Contact Details</h4>
                <ul class="list list-unstyled">
                    <li class="d-flex align-items-baseline"><i class="far fa-dot-circle text-color-primary mr-3"></i>
                        <div><span class="text-color-light">Address:</span> 1234 Street Name, City Name, USA</div>
                    </li>
                    <li class="d-flex align-items-baseline"><i class="fab fa-whatsapp text-color-primary mr-3"></i>
                        <div><span class="text-color-light">Phone:</span> (123) 456-7890</div>
                    </li>
                    <li class="d-flex align-items-baseline"><i class="far fa-envelope text-color-primary mr-3"></i>
                        <div><span class="text-color-light">Email:</span> <a href="mailto:mail@example.com">mail@example.com</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Navigations</h4>
                <ul class="list list-unstyled">
                    <li class="mb-1">
                        <a class="link-hover-style-1 active" data-hash data-hash-offset="95" href="#home">Home</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-hover-style-1" data-hash data-hash-offset="95" href="#about">About</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-hover-style-1" data-hash data-hash-offset="95" href="#solutions">Solutions</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-hover-style-1" data-hash data-hash-offset="95" href="#pricing">Pricing</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-hover-style-1" data-hash data-hash-offset="95" href="#reviews">Reviews</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-hover-style-1" data-hash data-hash-offset="95" href="#news">News</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Newsletter</h4>
                <p>Enter your email address and get our offers and plans in to your mail.</p>
                <div class="alert alert-success d-none" id="newsletterSuccess">
                    <strong>Success!</strong> You've been added to our email list.
                </div>
                <div class="alert alert-danger d-none" id="newsletterError"></div>
                <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mw-100">
                    <div class="input-group">
                        <input class="form-control form-control-sm text-color-light custom-bg-color-1 rounded-0 border-0 px-4 text-3" placeholder="Email Address..." name="newsletterEmail" id="newsletterEmail" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-primary text-color-light text-2 rounded-0 py-3 px-4"
                                type="submit"><strong>SUBSCRIBE</strong></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row justify-content-between py-4">
                <div class="col-auto">
                    <p>© Copyright 2020. All Rights Reserved.</p>
                </div>
                <div class="col-auto">
                    <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light ml-3">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>