<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="GWStock.Properties.Settings.HoseGatewayConnectionString" connectionString="Data Source=10.10.5.230;Initial Catalog=Hosegatewaytest;Persist Security Info=True;User ID=sa;Password=vics" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="GWStock.Properties.Settings.HoseGatewayConnectionString" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
