<div class="container py-4 my-5" id="solutions">
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="font-weight-bold line-height-2 text-7 mb-1">{{'Solution.title' | translate}}</h2>
                <span class="d-block text-color-dark text-5 pb-2 mb-4 opacity-7">{{'Solution.subTitle' | translate}}</span>
            </div>
        </div>
        <div class="content-grid">
            <div class="row content-grid-row text-center">
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-1.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Seo Services</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-2.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Email Marketing</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-3.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Data Analysis</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-4.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Digital Marketing</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-5.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Social Media Marketing</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
                <div class="col-md-6 col-lg-4 content-grid-item flex-column p-5">
                    <img src="assets/img/home/icons/icon-6.png" class="img-fluid mb-4" alt="" />
                    <h3 class="font-weight-semibold text-transform-none text-5 mb-3">Link Building</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor vel
                        sem
                        semper gravida. Ut posuere.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <a href="#demo-form"
                    class="btn btn-primary btn-outline btn-rounded popup-with-form font-weight-semibold text-4 btn-px-5 btn-py-2">Get
                    a Quote</a>
            </div>
        </div>
    </div>
</div>