 
@import "../../../@theme/styles/themes.scss";
:host {
    width: 100%;
}

@include nb-install-component() {
     ::ng-deep .info-list-item {
        .left-info-group {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            display: flex;
            .info-list-status {
                margin-top: -6px;
                margin-left: 0.25rem;
                position: absolute;
                display: inline-block;
            }
        }
        .info-right-group {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: 0.75rem;
        }
        .command-group {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            .command-item {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: auto;
                margin-bottom: auto;
            }
            .command-item:last-child {
                margin-right: 0 !important;
                padding-right: 0 !important;
            }
        }
        .logo-image {
            .group-logo {
                position: relative;
                flex-shrink: 0;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                &.image {
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &.initials {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    // @include media-breakpoint-down(sm) {
    //     .command-item:first-child {
    //         margin-left: 0 !important;
    //     }
    // }
}