@model VICS.Manager.WebApp.Models.CustomerViewModel


<div id="header-page" class="row wrapper border-bottom  page-heading">
    <div class="col-lg-10">
        <h2>Tạo khách hàng</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "customer")">SMS</a>
            </li>
            <li class="active">
                <strong>Khách hàng</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="list-icon">
            <ul>
                <li>
                    <a href="@Url.Action("Index","customer")" title="Danh sách"><i class="fa fa-list fa-2x fa-w"></i></a>
                </li>

            </ul>
        </div>

    </div>
</div>



@using (Html.BeginForm())
{
    <div id="TemplateEdit" class="form-horizontal">
        @Html.Partial("_CustomerTemplate")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
