// .list-icon,
// .list-actio {
//     width: 15px;
//     text-align: center;
// }
.list-shared {
    min-width: 40px;
    text-align: right;
    width: 16%;
}

// .list-info {
//     min-width: 100px;
//     text-align: left;
//     width: 65%;
// }