<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="smsConfiguration" type="SMS.Common.Configuration.SmsConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="EsmsApi" type="SMS.Common.Configuration.ApiEmsConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="smtp" type="SMS.Common.Configuration.SmtpConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="actionConfigFile" type="SMS.Common.Configuration.ActionConfiguration,SMS.Common,Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SMSContext" connectionString="data source=10.10.5.230;initial catalog=ESMSV2;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SmsNew" providerName="System.Data.SqlClient" /> 
    <add name="SBSContext" connectionString="data source=sbs.vics.com.vn;Failover Partner=sbs2.vics.com.vn;initial catalog=VICS30;user id=sa;password=vics;MultipleActiveResultSets=True;App=EntityFramework;Application Name=SbsNewsms" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="actionConfigFile" value="settings/action.config" />
    <add key="allowSendSmS" value="true"/>
  </appSettings>
  <smsConfiguration configSource="settings\common.config" />
  <smtp configSource="settings\smtp.config" />
  <EsmsApi configSource="settings\ESms.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>