<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecurityFilePath" value="D:\VICS Project\HoseDataForTest\BACKUP10"/>
  </appSettings>
  <connectionStrings>
    <add name="HoseGateway" connectionString="server=10.10.1.29;Database=hosegateway;Trusted_Connection=false;user=sa;password=vics;Application name=SBSGateway1;" providerName="System.Data.SqlClient"/>
    <add name="SBS" connectionString="server=10.10.1.29;Database=vics30fortest;Trusted_Connection=false;user=sa;password=vics;Application name=SBSGateway1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>