@model SSM.Models.CRM.SummaryCustomer
<td class="text-right numcount">@Model.TotalSendEmail</td>
<td class="text-right  numcount">@Model.TotalVisited</td>
<td class="text-right  numcount">@Model.TotalEvent</td>
<td class="text-right numcount">@Model.TotalShippments</td> 