<?xml version="1.0"?>
<ActionConfiguration>
  <EventListeners>
    <!--Action listeners-->

    <!--EMAILS-->
    <!--<Listener event="OnUserRegistered" action="SendWelcomeEmailToUser" />-->  
    
    <!--ESMS-->
    <Listener event="OnPostSendBrandName" action="SendSMSBrandName" />  
    <Listener event="OnPostSendNormal" action="SendSMSNormal" />  
    <Listener event="OnGetStatus" action="GetSsmStatus" />  
    <Listener event="OnGetStatusBrandName" action="GetSsmStatusBrandName" />  
    
   </EventListeners>

  <Actions>

    <!-- Send a welcome email to registered user.-->
    <!--<Action name="SendWelcomeEmailToUser" actionClass="SMS.Common.Action.SendEmsAction" actionInitData="welcome" />-->

    <!-- Send sms to API.-->
    <Action name="SendSMSBrandName" actionClass="SMS.Common.Action.SendEsmsAction" actionInitData="SmsBrandName" />
    <Action name="SendSMSNormal" actionClass="SMS.Common.Action.SendEsmsAction" actionInitData="SmsNormal" />
    <Action name="GetSsmStatus" actionClass="SMS.Common.Action.SendEsmsAction" actionInitData="GetStatus" />
    <Action name="GetSsmStatusBrandName" actionClass="SMS.Common.Action.SendEsmsAction" actionInitData="GetStatusBrandName" />

   

  </Actions>
</ActionConfiguration>
