<?xml version="1.0" encoding="utf-8" ?>
<smsConfiguration>
  <!--Setting time run app  TransactionDate="2015-09-04" -->
  <TimeExecute StartDealTime="09:00" EndDealTime="15:15" EndSendTime="17:15" EndCloseTime="20:50" />
  <TimeWaitting Matched="10"  SendSms="20"  Debit="25"  FirstDate="60"/>
  <BaseSetting BankList="112;118" MinimumAmount="1000000" BuyOrSelFormat="Mua/Ban" DebitOrCreditFormat="-/+"/>
  <template name="OnFirstDay">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> SDC tien <%=balance{0:0,0}%>VND; ck <%BeginLoop(Securities)%><%=StockCode%>:<%=Volume{0:0,0}%>; <%EndLoop%>]]> </Body>
  </template>
  <template name="OnMatched">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> khop <%=OrderSide%> <%=OrderVolume{0:0,0}%> <%=StockCode%>(KL/G)<%BeginLoop(Matcheds)%><%=Volume{0:0,0}%>/<%=Price{0:0,0.0}%>; <%EndLoop%>]]></Body>
  </template>
  <template name="OnDebited">
    <Body><![CDATA[VICS TB: TK <%=CustomerId%> <%=Debit%> <%=DebitValue{0:0,0}%>VND luc <%=Time%>. SDC: <%=CurrentValue{0:0,0}%>VND]]></Body>
  </template>
  
</smsConfiguration>