<?xml version="1.0" encoding="utf-8" ?>
<!--SandBox:1 Debug :gui phai cho duyet, 0 gui khong can duyet-->
<!--ResponseTimeOut la 30s-->
<!--BrandNameWork: Telecome:"All" || "Viettel; Mobiphone; Vinaphone; Vietnammobile; Gmobile; SFone" ||"None"-->
<!--main-->
<EsmsApi ApiKey="6BEF326D1B01BFF1098A6AAA3433DD" SecretKey="F98F645B2A9A555C5D6C5577A40747" SandBox="0" ResponseTimeOut="30" BrandName="VICS" Telecome ="Viettel">
<!--Test -->
<!--<EsmsApi ApiKey="7269C3197A1E6F457B8078D149F1CD" SecretKey="BE6001DD7A9140EAD771FD7D1DDAB8" SandBox="1" ResponseTimeOut="30" BrandName="VICS" Telecome ="Viettel">-->

  <!--SMSTYPE 3: đầu số ngẫu nhiên tốc độ chậm, SMSTYPE=7: đầu số ngẫu nhiên tốc độ cao, SMSTYPE=4: Đầu số 19001534; SMSTYpe=6: đàu số 8755-->
  <template Name="SmsBrandName"  Url="http://api.esms.vn/MainService.svc/xml/SendMultipleMessage_V4/"  >
    <Body>
      <![CDATA[
      <RQST>
      <APIKEY><%=Apikey%></APIKEY>
      <SECRETKEY><%=Secretkey%></SECRETKEY>
      <SMSTYPE>2</SMSTYPE>  
      <BRANDNAME>VICS</BRANDNAME>
      <REQUESTID><%=RequestId%></REQUESTID>
      <SANDBOX><%=SanbBox%></SANDBOX>
      <CONTENT><%=MessageContent%></CONTENT>
      <CONTACTS>
      <%BeginLoop(Contacts)%>
        <CUSTOMER>
            <PHONE><%=Phone%></PHONE>
          </CUSTOMER>
        <%EndLoop%> 
      </CONTACTS>
    </RQST>
      ]]>
    </Body>
  </template>
  <template Name="SmsNormal" Url="http://api.esms.vn/MainService.svc/xml/SendMultipleMessage_V2/">
    <Body>
      <![CDATA[
      <RQST>
       <APIKEY><%=Apikey%></APIKEY>
      <SECRETKEY><%=Secretkey%></SECRETKEY>
      <SMSTYPE>6</SMSTYPE>   
      <REQUESTID><%=Requestid%></REQUESTID>
      <SANDBOX><%=SanbBox%></SANDBOX>
      <CONTENT><%=MessageContent%></CONTENT>
      <CONTACTS>
      <%BeginLoop(Contacts)%>
        <CUSTOMER>
            <PHONE><%=Phone%></PHONE>
          </CUSTOMER>
        <%EndLoop%> 
      </CONTACTS>
    </RQST>
      ]]>
    </Body>
  </template>
  <template Name="GetStatus" Url="http://api.esms.vn/MainService.svc/xml/GetSmsStatus/">
    <Body>
      <![CDATA[
      <RQST>
       <APIKEY><%=Apikey%></APIKEY>
      <SECRETKEY><%=Secretkey%></SECRETKEY>
      <SMSID><%=SmsId%></SMSID> 
      </RQST>
      ]]>
    </Body>
  </template>
  <template Name="GetStatusBrandName" Url="http://api.esms.vn/MainService.svc/xml/GetSmsReceiverStatus/">
    <Body>
      <![CDATA[
      <RQST>
       <APIKEY><%=Apikey%></APIKEY>
       <SECRETKEY><%=Secretkey%></SECRETKEY> 
       <%=SmsId%>
      </RQST>
      ]]>
    </Body>
  </template>
</EsmsApi>