@model dynamic

    @{
        ViewBag.Title = "title";
    }

    <div class="SectionBlock Expanded BoxL1 ">
        <div class="BoxL2">
            <div class="BoxL3">
                <div class="BoxL4">
                    <div class="DivHeader">
                        <h2>
                            Thiết lập plan default for sales
                        </h2>
                    </div> 
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
