<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HOGW_PT_Dealer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" /></configSections>
  <appSettings>
    <add key="PriceMultipleOperand" value="1" />
    <add key="PriceMultipleOperandPT" value="1000000" />
    <add key="AdminMobiles" value="0989025568 - Vinhnt" />
    <add key="FirmID" value="76" />
    <add key="ContactAddress" value="VICS-04.35149999" />
    <add key="PTOrderInterval" value="10000" />
    <add key="MatchingOrderInterval" value="5000" />
    <add key="AppName" value="Rabbit-PT" />
    <add key="Board" value="M" />
    <add key="BoardPT" value="B" />
    <add key="BoardOdd" value="O" />
    <add key="MaxNumThread" value="3" />
    <add key="SBSGatewayUsername" value="pm" />
    <add key="SBSGatewayPassword" value="pm" />
    <add key="HasApprove" value="0" />
    <add key="CheckPriceFromCore" value="0" />
    <add key="BuyerApproveRefreshInterval" value="5" />
    <add key="CoreOnlineTradeCode" value="VICS" />
    <add key="CoreOnlineBranchCode" value="100" />
    <add key="CoreOnlineUser" value="pt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <HOGW_PT_Dealer.Properties.Settings>
      <setting name="SBSCommon_CommonService" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/common.net4.v1/CommonService.asmx</value>
      </setting>
      <setting name="HosePTConnector_PTConnectorWS" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/HosePTConnector/PTConnectorWS.asmx</value>
      </setting>
      <setting name="CoreConnector_CoreConnectorWS" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/CoreConnector/CoreConnectorWS.asmx</value>
      </setting>
      <setting name="SBSGateway_CommonService" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/SBSGateway30/CommonService.asmx</value>
      </setting>
      <setting name="HoseConnector_GWConnectorWS" serializeAs="String">
        <value>http://testserver.vics.com.vn/gateway/HoseConnector/GWConnectorWS.asmx</value>
      </setting>
    </HOGW_PT_Dealer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
 </configuration>
