<div class="container py-4 my-5" id="news">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-weight-bold line-height-2 text-7 mb-1">News</h2>
            <span class="d-block text-color-dark text-5 pb-2 mb-4 opacity-7">Our Blog</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
            <article>
                <a href="demo-seo-blog-post.html" class="text-decoration-none">
                    <span class="thumb-info thumb-info-no-borders custom-thumb-info-style-1 pb-2 mb-2 mb-md-4">
                        <span class="thumb-info-wrapper">
                            <img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt="">
                            <span class="custom-thumb-info-date text-color-light bg-primary">
                                28
                                <span>APR</span>
                            </span>
                        </span>
                    </span>
                </a>
                <h2 class="font-weight-semibold custom-fs-1 line-height-3 ls-0 mb-2"><a href="demo-seo-blog-post.html"
                        class="text-color-dark text-decoration-none">You can now automatically set your browser history
                        to be deleted</a></h2>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis, tortor vel
                    euismod elementum, sapien risus...</p>
            </article>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            <article>
                <a href="demo-seo-blog-post.html" class="text-decoration-none">
                    <span class="thumb-info thumb-info-no-borders custom-thumb-info-style-1 pb-2 mb-2 mb-md-4">
                        <span class="thumb-info-wrapper">
                            <img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt="">
                            <span class="custom-thumb-info-date text-color-light bg-primary">
                                22
                                <span>APR</span>
                            </span>
                        </span>
                    </span>
                </a>
                <h2 class="font-weight-semibold custom-fs-1 line-height-3 ls-0 mb-2"><a href="demo-seo-blog-post.html"
                        class="text-color-dark text-decoration-none">10 SEO best practices you should be doing right
                        now</a></h2>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis, tortor vel
                    euismod elementum, sapien risus...</p>
            </article>
        </div>
        <div class="col-md-4">
            <article>
                <a href="demo-seo-blog-post.html" class="text-decoration-none">
                    <span class="thumb-info thumb-info-no-borders custom-thumb-info-style-1 pb-2 mb-2 mb-md-4">
                        <span class="thumb-info-wrapper">
                            <img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="">
                            <span class="custom-thumb-info-date text-color-light bg-primary">
                                20
                                <span>APR</span>
                            </span>
                        </span>
                    </span>
                </a>
                <h2 class="font-weight-semibold custom-fs-1 line-height-3 ls-0 mb-2"><a href="demo-seo-blog-post.html"
                        class="text-color-dark text-decoration-none">Data, Data Everywhere — Where are the Campaign
                        Insights?</a></h2>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis, tortor vel
                    euismod elementum, sapien risus...</p>
            </article>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <a href="demo-seo-blog.html"
                class="btn btn-primary btn-outline btn-rounded font-weight-semibold text-4 btn-px-5 btn-py-2">View
                More</a>
        </div>
    </div>
</div>