<div class="container py-5 my-4" id="about">
    <div class="row align-items-center">
        <div class="col-lg-5 mb-4 mb-md-5 mb-lg-0">
            <div class="featured-boxes featured-boxes-modern-style-1 custom-image-position-1 d-none d-lg-block appear-animation"
                data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200"
                data-plugin-options="{'accY': -400}">
                <div class="featured-box py-3">
                    <div class="featured-box-background"
                        style="background-image: url(assets/img/home/generic-1.jpg); background-size: cover; background-position: center;">
                    </div>
                    <div class="box-content px-lg-4 px-xl-5 py-lg-5 m-5"></div>
                </div>
            </div>
            <div class="featured-boxes featured-boxes-modern-style-1 appear-animation"
                data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400"
                data-plugin-options="{'accY': -400}">
                <div class="featured-box py-5">
                    <div class="featured-box-background"
                        style="background-image: url(assets/img/home/generic-2.jpg); background-size: cover; background-position: center;">
                    </div>
                    <div class="box-content px-lg-4 px-xl-5 py-lg-5 m-5">
                        <a class="text-decoration-none lightbox" href="https://vimeo.com/45830194"
                            data-plugin-options="{'type':'iframe'}">
                            <i class="fas fa-play featured-icon featured-icon-style-2 featured-icon-hover-effect-1 text-color-dark bg-light right-4 top-0 m-0 appear-animation"
                                data-appear-animation="expandIn" data-appear-animation-delay="1200"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 pl-lg-5">
            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                <h2 class="font-weight-bold line-height-2 text-7 mb-1" [innerHTML]="'About.title' | translate"></h2>
                <span class="d-block text-color-dark text-5 pb-2 mb-4 opacity-7">{{'About.weAre' | translate}}</span>
            </div>
            <p class="pb-2 mb-2 appear-animation" data-appear-animation="fadeInUpShorter"
                data-appear-animation-delay="800" [innerHTML]="'About.introduce' | translate"></p>
            <a data-hash data-hash-offset="95" href="#solutions"
                class="btn btn-primary btn-outline btn-rounded font-weight-semibold text-3 btn-px-5 btn-py-2 appear-animation align-right"
                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">{{'About.ourSolution' | translate}}</a>
        </div>
    </div>
</div>