<a *ngIf="isLoggedIn" href="#" class="header-nav-features-toggle">
    <i class="far fa-user" style="color: blue;"></i> {{user?.displayName}}
</a>
<div *ngIf="isLoggedIn"
    class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-nav-features-dropdown-force-right"
    id="headerTopUserDropdown">
    <div class="row">
        <div class="col-8">
            <p class="mb-0 pb-0 text-2 line-height-1 pt-1">{{ 'Common.hello' | translate}}</p>
            <p><strong class="text-color-dark text-4">{{user?.displayName}}</strong></p>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <img *ngIf="user?.photo" class="rounded-circle" width="40" height="40" alt="" src="getUrl(user?.photo)">
                <img *ngIf="!user?.photo" class="rounded-circle" width="40" height="40" alt="" src="assets/img/clients/client-2.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-list-simple flex-column text-3">
                <li class="nav-item"><a class="nav-link"
                        href="{{route(urlRoute.PROFILE)}}">{{ 'Common.profile' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{{route(urlRoute.ADMIN)}}">{{ 'Common.gotoAdmin' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link border-bottom-0"
                        (click)="logout()">{{ 'Common.logout' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div>

<a *ngIf="!isLoggedIn" href="{{route(urlRoute.AUTH)}}">
    <i class="far fa-user"></i> {{ 'Common.login' | translate}}
</a>