<nb-card>

    <nb-card-header>
        <vip-header-list title="User List"></vip-header-list>
      </nb-card-header>

    <nb-card-body>

        <table class="table table-bordered table-striped table-sm table-centered mb-0">
            <thead>
                <tr>
                    <th scope="col">Tài khoản <i class="fa fa-fw fa-sort"></i></th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Avatar</th>
                    <th scope="col text-center">edit</th>
                    <th scope="col text-center">delete</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </nb-card-body>
    <nb-card-footer> 
    </nb-card-footer>
</nb-card>